<!-- <ul>
  <li *ngFor="let item of resultados">
    {{item.title}}
  </li>
</ul>
 -->

 <div class="row">
  <div class="cards col-12 col-md-4 m-2 animate__animated animate__fadeInRight" *ngFor="let item of resultados">
    <div class="card">
      <img [src]="item.images.downsized_medium.url" [alt]="item.title" [title]="item.title" class="card-img-top">
      <div class="card-body">
        <div class="card-text">
          <h5 class="card-title">{{item.title}}</h5>
        </div>
      </div>
    </div>
  </div>
 </div>
